<mat-toolbar style="height: 5vh;">
  <span class="toolbar-flex"></span>

  <nav mat-tab-nav-bar color="accent" style="overflow-x: scroll; max-width: 100%">
    <a mat-tab-link
       *ngFor="let plotType of plotTypes"
       [routerLink]="['/plots']"
       [queryParams]="{ type: plotType }"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{plotType}}
    </a>
  </nav>

  <span class="toolbar-flex"> </span>
</mat-toolbar>

<div class="mat-elevation-z10" style="max-height: 80vh; margin-left: 2%; margin-right: 2%; text-align: center">
  <div style="max-height: 80vh;">
    <div #plotDiv></div>
  </div>
</div>
